{% extends 'base.html.twig' %}

{% block title %}Matoutou - Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/new.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}
    {% block head_js %}
        <script type="text/javascript" src="{{asset('assets/js/jquery-3.1.1.min.js')}}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="{{asset('assets/js/jquery.easing.1.3.js')}}"></script>
    {% endblock %}
{% block body %}
<script>
$(document).ready(function(){
                $("#navdroite").hide();
            });
</script>
{% if user %}
        <script>
            $(document).ready(function(){
                $("#navpart3,#navpart6").hide();
                $("#navdroite").show();
            });
        </script>
    {% endif %}
<img class="navbarlogo" src="{{asset('assets/images/losange.png')}}">
<div id="reseaux">
    <a href="" id="facebook">
        <p class="rotate bleu">FACEBOOK</p>
        <img class="pictosocial" src="{{asset('assets/images/facebookinverse.png')}}">
    </a>
    <a href="http://149.91.89.19/promo/" id="twitter">
        <p class="rotate bleu">PROMO</p>
        <img class="pictosocial" src="{{asset('assets/images/promoinverse.png')}}">
    </a>
    <a href="" id="youtube">
        <p class="rotate bleu">YOUTUBE</p>
        <img class="pictosocial" src="{{asset('assets/images/youtubeinverse.png')}}">
    </a>
    <div>
        <a id="agence" href="http://149.91.89.19/"><img src="{{asset('assets/images/logoagence.png')}}"></a>
    </div>
</div>


<div id="global">
    <div id="navigationun">
        <div id="navgauche">
            <a href="{{path("app_matoutou_index")}}" id="navpart1">
                <h1 id="navchiffre1" class="bleu navchiffre">01</h1>
                <div id="navtrait1" style="background-color: #253a85;"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte1" style="color: #253a85;" class="bleu">Présentation</p>
                </div>
            </a>
            <a href="{{path("app_matoutou_inscription")}}" id="navpart3">
                <h1 id="navchiffre3" class="gris navchiffre">02</h1>
                <div id="navtrait3"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte3" class="bleu">Inscription</p>
                </div>
            </a>
            <a href="{{path("app_login")}}" id="navpart6">
                <h1 id="navchiffre6" class="gris navchiffre">03</h1>
                <div id="navtrait6"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte6" class="bleu">Connexion</p>
                </div>
            </a>
        </div>
        <div id="navdroite">
            <a href="{{path("jeu_index")}}" id="navpart4">
                <div class="navpicto"><img src="{{asset('assets/images/jouergris.svg')}}"></div>
                <div id="navtrait4"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte4">Jouer</p>
                </div>
            </a>
            <a href="{{path("app_matoutou_joueur")}}" id="navpart5">
                <div class="navpicto"><img src="{{asset('assets/images/profilbleu.svg')}}"></div>
                <div id="navtrait5" style="background-color: #253a85;"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte5" style="color: #253a85;">Mon profil</p>
                </div>
            </a>
            <a href="{{path("app_logout")}}" id="navpart">
                <div class="navpicto"><img src="{{asset('assets/images/deconnexion.svg')}}"></div>
                <div id="navtrait5" style="background-color: #d00023;"></div>
                <div class="conteneurnavtexte">
                    <p id="navtexte4" style="color: #d00023;">Déconnexion</p>
                </div>
            </a>
        </div>
    </div>
    <div class="contenumatoutou">
        <div id="connexioncontenu">
            <div id="textepresentation">
                <h1 class="bleu petith1">Présentation</h1>
                <p class="texte">Chiens et chats se font la guerre depuis la nuit des temps ...
                    Les canidés et les félins de cette petite ville ne font pas exception à la règle !
                    En effet, lorsque leur propriétaire partent travailler, nos compagnons favoris se vouent à une guerre sans merci.
                    Désireux de voler la chose qui compte le plus aux yeux de l’ennemi, nos deux camps sont bien décider à sortir le grand
                    jeux pour enfin remporter la bataille et afficher leur trophée de guerre.<br><br>

                    Prenez le commandement des opérations, et récupérez le trésor de l’ennemi, bien gardé dans la maison du chef adverse : leur jouet préféré !
                    Alors, plutôt chien ou chat ?</p>
            </div>
            <div id="videopresentation">
                <video autoplay controls width="100%" >
                    <source src="{{asset('assets/images/regles.mp4')}}" type="video/mp4">
                </video>
            </div>
            
        </div>
    </div>
    <div class="contenubouton1">
                <a id="a1" href="#test1"></a>
            </div>
    <footer>
        <a class="blanc" href="">À propos</a>
        <p class="blanc">© 2019 - ISTORIA'NIMA</p>
        <a class="blanc" href="matoutou/admin">Gestion</a>
    </footer>
</div>



</body>
</html>
    
{% endblock %}